/* css styles for small screens & default values */
body {
    background-color: #1A6F51;
    color: white;
    font-family: "Arial";
}

main {
    background-color: white;
    color: navy;
    /* for flex display, resize main to fit next to nav container height 100vh */
    height: 100vh;
    /* if content flows larger than 100vh, clip content and add a scroll bar */
    overflow: scroll;
}

header {
    background-image: url(../images/LogoSmall.png);
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 50px;
    /* 
    Hex color values and RGB color values
    #1A6F51 rgb(26, 111, 81)
    #C7DCA7 rgb(199, 220, 167)
    link font color & text colors rgb(226, 162, 66)

    I choose these colors because they have good contrast ratios higher than 4.5.
    I started with green because it represent outdoors and the season of spring, a great time to walk dogs and have dog activites.
    The website used was coolors.co and colorhunt.co
    */
    background-color: #C7DCA7;
}

.index-main-color {
    color: rgb(226, 162, 66)
}

dt {
    font-weight: bold;
}

/* responsive images rule / ruleset */
img {
    max-width: 100%;
    height: auto;
}

/* class and id styling for semantic elements */
.class-information-list {
    background-color: burlywood;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: #1A6F51;
}

.class-information-list h2 {
    text-align: center;
}

.trainer {
    width: 80px;
}

.trainer-image {
    border-radius: 100%;
}

.trainer-caption {
    text-align: center;
    font-weight: bold;
}

/* for h1 Chateau Chien tag */
#banner {
    font-family: "Brush Script MT", cursive;
    font-size: 4em;
}

.class-description-list {
    background-color: blanchedalmond;
}

.class-description-list h2 {
    text-align: center;
}

.trainers-section {
    background-color: peachpuff;
    border-radius: 10px;
}

.largeritalics {
    font-size: 1.2em;
    font-style: italic;
}

/* bigger links */

nav {
    font-size: 1.5em;
}

/* rule for first two links */
.color-link {
    color: rgb(226, 162, 66);
}

/* main selector and descendant selector:psuedoclass */
nav a:visited {
    color: black;
}

/* hover must come after link and visted psuedo classes */
nav a:hover {
    color: yellow;
}

/* navigation style for smaller screens */
nav a {
    /* removes vertical breaks */
    display: inline;
    margin: 5px;
    background-color: #C7DCA7;
    color: white;
    width: 120px;
    text-align: center;
}

/* team page trainer image flexbox */
.trainers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sponsor-container {
    text-align: center;
}

.sponsor-list {
    display: inline-block;
    text-align: left;
    list-style-type: none;
}

.sponsor-list li {
    width: 100px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-main-container {
    display: flex;
    flex-direction: column;
}

/* media query for larger screen sizes, responsive and activates on screens larger than 480px */
@media screen and (min-width: 480px) {
    body {
        background-color: #C7DCA7;
        color: navy;
        font-family: "Georgia";
    }

    header {
        background-color: #1A6F51;
        color: snow;

        /* Logo Image declaration */
        background-image: url(../images/LogoLarge.png);
        min-height: 100px;
    }

    .trainer {
        width: 150px;
    }

    /* CSS for vertical navigation */
    nav a {
        display: block;
        margin: 3rem;
        background-color: #1A6F51;
        width: 120px;
        font-size: 1.5rem;
        text-align: center;
    }

    /* float columns */
    .class-unordered-list {
        background-color: burlywood;
        padding: 20px;
    }

    .column-left {
        float: left;
        width: 30%;
    }

    .column-right {
        float: left;
        width: 50%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .classes-footer {
        text-align: center;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        /* set nav container height to 100% of viewport */
        height: 100vh;
    }

    .nav-main-container {
        display: flex;
        flex-direction: row;
    }
}