/* css styles for small screens & default values */
body {
    background-color: dodgerblue;
    color: white;
    font-family: "Arial";
}

main {
    background-color: white;
    color: navy;
}

header {
    background-image: url(../images/LogoSmall.png);
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 50px;
}

dt {
    font-weight: bold;
}

/* responsive images rule / ruleset */
img {
    max-width: 100%;
    height: auto;
}

/* media query for larger screen sizes, responsive and activates on screens larger than 480px */
@media screen and (min-width: 480px) {
    body {
        background-color: lightskyblue;
        color: navy;
        font-family: "Georgia";
    }
    header {
        background-color: dodgerblue;
        color: snow;

        /* Logo Image declaration */
        background-image: url(../images/LogoLarge.png);
        min-height: 100px;
    }
}